<!DOCTYPE html>
<html>

<head>
    <title>⚽️ 世界杯预测小游戏 🏆 </title>
    <link rel="stylesheet" href="css/reset.css" type="text/css">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link rel="stylesheet" href="css/orientation_utils.css" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,minimal-ui"
    />
    <meta name="msapplication-tap-highlight" content="no" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/three.js/92/three.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>

<body>
    <canvas id="canvas" class='ani_hack' width="1360" height="640"> </canvas>
    <div class="background_img"></div>
    <div id="prediction">
        <% games.forEach(function(game) { %>
        <div class="game">
            <div class="info">
                <div class="team">
                    <%= game.team1_name %>
                </div>
                <div>
                    <img class="flag" src="<%- game.team1_flag %>" />
                </div>
                <div class="datetime">
                    <div><%= game.date %></div>
                    <div><%= game.game_time %></div>
                </div>
                <div>
                    <img class="flag" src="<%- game.team2_flag %>" />
                </div>
                <div class="team">
                    <%= game.team2_name %>
                </div>
            </div>
            <div class="prediction_result">
                <span>预测结果： </span>
                先玩个游戏吧
            </div>
            <div class="bet" hidden>
                <%= game.euro_win %>,<%= game.euro_draw %>,<%= game.euro_lose %>
            </div>
        </div>
        <% }); %>
    </div>
</body>
</html>